.messages {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.messages__container {
    border: solid 1px #3A444C;
    margin-left: 50px;
    border-radius: 8px;
    width: 600px;
}

.messages__navigation {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-bottom: solid 1px #3A444C;
}

.messages__wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.messages__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages__form {
    display: flex;
    flex-direction: column;
}

.messages__arrow {
    width: 14px;
    height: 13px;
}

.messages__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--text-color);
    margin: 0 0 0 10px;
    transition: color 400ms linear;
}

.messages__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.35px;
    color: var(--text-color);
    margin: 0;
    transition: color 400ms linear;
}

.message__container {
    border-top: solid 1px #3A444C;
    border-bottom: solid 1px #3A444C;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.message__wrap {
    padding: 10px 15px 10px 15px;
    display: flex;
}

.message__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.message__name {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: var(--text-color);
    margin: 0 10px 0 0;
    transition: color 400ms linear;
}

.message__message {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--text-color);
    margin: 10px 0 0;
    word-break: break-word;
    background-color: var(--background-color-hover);
    padding: 4px 6px 4px 6px;
    border-radius: 8px;
    transition: background-color 400ms linear, color 400ms linear;
}

.message__time {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #3A444C;
    margin: 0;
}

.message__wrap_time {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px 10px 0;
}

.message__link {
    text-decoration: none;
}

.messages__input {
    background-color: var(--background-color-hover2);
    border-bottom: 1px solid #1F1F1F;
    border-right: none;
    border-left: none;
    border-top: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: var(--text-color);
    width: 300px;
    height: 60px;
    outline: none;
    text-align: start;
    transition: background-color 400ms linear, color 400ms linear;
}

.messages__button {
    width: 75px;
    height: 35px;
    color: var(--text-color);
    background-color: var(--background-color-hover2);
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #1F1F1F;
    margin: 20px 0 0 20px;
    transition: background-color 400ms linear, color 400ms linear;
}

.messages__button:hover {
    background-color: #126FA4;
    transition: linear 0.3s;
    color: #FFFFFF;
    border: none;
}

.message__wrapper_name {
    display: flex;
}

.message__status {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #126FA4;
    margin: 0;
}