.profile {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.profile__container {
    border: solid 1px #3A444C;
    margin-left: 50px;
    width: 600px;
    border-radius: 8px;
    margin: 0 0 50px 50px;
}

.profile__wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.profile__wrap {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #3A444C;
    padding: 25px;
}

.profile__arrow {
    width: 14px;
    height: 13px;
}

.profile__back {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 0 10px;
}

.profile__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.35px;
    color: #000000;
    margin: 0;
}

.profile__information_wrap {
    margin: 28px 0 0 32px;
}

.profile__information_wrapper {
    display: flex;
    align-items: center;
}

.profile__wrap_name {
    margin-left: 32px;
}

.profile__logo {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    border: 1px solid #3A444C;
    padding: 7px;
}

.profile__wrapper_name {
    display: flex;
}

.profile__name_title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin: 0 15px 0 0;
}

.profile__name_logo {
    cursor: pointer;
}

.profile__name_subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0;
}

.profile__information_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 117.8%;
    text-align: justify;
    color: #000000;
    margin: 20px 0 20px;
    width: 530px;
}

.profile__buttons_wrap {
    display: flex;
    margin: 15px 0 0;
}

.profile__button {
    background-color: #DDE1E1;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    border: none;
}

.profile__button_logo-color {
    fill: #EE1C35;
    transition: linear 0.2s;
}

.profile__button_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0 29px 0 6px;
}

.profile__button_wrapper {
    display: flex;
    margin-top: 39px;
    border-bottom: 1px solid #3A444C;
    justify-content: center;
}

.profile__button_post {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #000000;
    background-color: #DDE1E1;
    cursor: pointer;
    margin: 0;
    padding: 0 30px 17px 30px;
    border: none;
}

.profile__button_post:hover {
    color: #126FA4;
    border-bottom: 1px solid #126FA4;
}

.profile__button_post-color {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    background-color: #DDE1E1;
    cursor: pointer;
    margin: 0;
    padding: 0 30px 17px 30px;
    border: none;
    color: #126FA4;
    border-bottom: 1px solid #126FA4;
}

.profile__link {
    text-decoration: none;
}

.profile-create {
    margin: 25px 0 25px 32px;
}

.profile-create__title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #000000;
    margin: 0;
}

.profile-create__field {
    background-color: #DDE1E1;
    border-bottom: 1px solid #1F1F1F;
    border-right: none;
    border-left: none;
    border-top: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #000000;
    width: 300px;
    height: 70px;
    outline: none;
    text-align: start;
}

.profile-create__button {
    width: 200px;
    height: 50px;
    color: #000000;
    background-color: #DDE1E1;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #1F1F1F;
    margin: 20px 0 0;
}

.profile-create__button:hover {
    background-color: #126FA4;
    transition: linear 0.3s;
    color: #FFFFFF;
    border: none;
}

.profile__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 117.8%;
    text-align: justify;
    color: #000000;
    max-width: 200px;
    margin: 10px 0 0;
    cursor: pointer;
}

.profile__description_title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 117.8%;
    text-align: justify;
    color: #000000;
    max-width: 200px;
    margin: 0 0 0 5px;
}

.profile__buttons_wrapper {
    margin-right: 40px;
}

.profile__buttons_wrapper:last-of-type {
    margin: 0;
}

.profile__description_wrapper {
    display: flex;
    align-items: center;
}

.profile__image {
    width: 20px;
    height: 20px;
}

.profile__description_input {
    background-color: #DDE1E1;
    border: none;
    border-bottom: 1px solid #1F1F1F;
    outline: none;
    margin-top: 10px;
}