.media {
    margin: 0 auto;
}

.media__wrapper {
    width: 535px;
    margin: 30px auto 100px;
    border: 1px solid #1F1F1F;
    border-radius: 8px;
}

.media__wrap {
    display: flex;
    align-items: center;
    margin: 25px 0 0 21px;
}

.media__wrap:last-of-type {
    margin: 25px 0 25px 21px;
}

.media__link:hover {
    border-bottom: 1px solid var(--text-color);
    cursor: pointer;
}

.media__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: var(--text-color);
    margin: 0 0 0 16px;
    text-decoration: none;
    transition: color 400ms linear;
}

.media__image_inst {
    width: 30px;
    height: 30px;
    background-image: var(--image-media-inst);
    transition: background-image 400ms linear;
}

.media__image_twt {
    width: 30px;
    height: 30px;
    background-image: var(--image-media-twitter);
    transition: background-image 400ms linear;
}

.media__image_tg {
    width: 30px;
    height: 30px;
    background-image: var(--image-media-telegram);
    transition: background-image 400ms linear;
}