.teams {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.teams__container {
    border: solid 1px #3A444C;
    margin-left: 50px;
    width: 600px;
    border-radius: 8px;
}

.teams__wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.teams__wrap {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #3A444C;
    padding: 25px;
}

.teams__arrow {
    width: 14px;
    height: 13px;
}

.teams__back {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 0 10px;
}

.teams__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.35px;
    color: #000000;
    margin: 0;
}

.team__container {
    border-top: solid 1px #3A444C;
    border-bottom: solid 1px #3A444C;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.team__wrap {
    padding: 20px 25px 20px 25px;
    display: flex;
}

.team__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team__logo {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #3A444C;
    padding: 7px;
}

.team__name {
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 25px;
    text-align: justify;
    color: #000000;
    margin: 0 7px 0 0;
}

.team__message {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    margin: 10px 0 0;
    word-break: break-word;
    border-radius: 8px;
}

.team__city {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-align: justify;
    color: #000000;
    margin: 0 7px 0 0;
}

.team__country {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    color: #000000;
    margin: 0 7px 0 0;
}

.team__wrap_location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 25px 20px 0;
}

.team__button {
    width: 100px;
    height: 35px;
    color: #FFF;
    background-color: #001012;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 5px;
}

.team__container:hover .message__button {
    background-color: #002F34;
    transition: linear 0.2s;
}

.team__link {
    text-decoration: none;
}

.team__input {
    background-color: #DDE1E1;
    border-bottom: 1px solid #1F1F1F;
    border-right: none;
    border-left: none;
    border-top: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #000000;
    width: 300px;
    height: 60px;
    outline: none;
    text-align: start;
}

.team__button {
    width: 75px;
    height: 35px;
    color: #000000;
    background-color: #DDE1E1;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #1F1F1F;
    margin: 20px 0 0 20px;
}

.team__button:hover {
    background-color: #126FA4;
    transition: linear 0.3s;
    color: #000000;
}

.team__wrapper_name {
    display: flex;
    align-items: center;
}

.team__login {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #3A444C;
}

.teammap__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teammap__button_show {
    background-color: #D3D4D4;
    border: none;
    border-radius: 8px;
    width: 120px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 20px 0;
    cursor: pointer;
}

.teammap__button_show:hover {
    transition: linear 0.3s;
    background-color: #126FA4;
    color: #FFFFFF;
}

.team__follow_button {
    background-color: #126FA4;
    border: none;
    border-radius: 8px;
    width: 90px;
    height: 45px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    cursor: pointer;
    transition: 0.5s;
}

.team__unfollow_button {
    background-color: #D3D4D4;
    border: none;
    border-radius: 8px;
    width: 90px;
    height: 45px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    cursor: pointer;
    transition: 0.5s;
}

.team__pagination {
    margin: 0 0 30px 0;
}

.team__pagination_number {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    text-align: justify;
    color: #000000;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.team__pagination_number:hover {
    color: #126FA4;
}

.team__pagination_number:last-of-type {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    text-align: justify;
    color: #000000;
    margin: 0;
    cursor: pointer;
}

.team__pagination_number:last-of-type:hover {
    color: #126FA4;
}