.navigation {
    margin-top: 26px;
}

.navigation__container {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.navigation__logo {
    margin-bottom: 50px;
    padding: 0;
}

.navigation__button {
    display: flex;
    align-items: center;
    background-color: #DDE1E1;
    border: none;
    margin-bottom: 10px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
}

.navigation__button_active {
    display: flex;
    align-items: center;
    background-color: #DDE1E1;
    border: none;
    margin-bottom: 10px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #126FA4;
    fill: #126FA4;
    padding: 10px;
    border-radius: 10px;
}

.navigation__create_button {
    background-color: #126FA4;
    border: none;
    border-radius: 8px;
    width: 195px;
    height: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 10px 0 0;
    cursor: pointer;
}

.navigation__link {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation__button:hover {
    color: #126FA4;
    transition: linear 0.2s;
    background-color: #D3D4D4;
}

.navigation__button:hover .navigation__inactive {
    fill: #126FA4;
    transition: linear 0.2s;
}

.navigation__active {
    fill: #126FA4;
    transition: linear 0.2s;
}

.navigation__active:hover {
    fill: #126FA4;
    transition: linear 0.2s;
}

.navigation__button_active:hover {
    background-color: #D3D4D4;
}

.navigation__inactive {
    transition: linear 0.2s;
}

.navigation__image {
    margin-right: 15px;
}


.login__wrapper {
    display: flex;
    margin: 30px 0 0;
    text-decoration: none;
}

.login__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: #000000;
    margin: 0 0 0 10px;
}

.login__wrap {
    display: flex;
    align-items: center;
    margin: 30px 0 0;
}

.login__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}