.navigation {
    margin-top: 26px;
}

.navigation__container {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.navigation__logo {
    margin-bottom: 35px;
    padding: 0;
    background-image: var(--image-logo-main);
    width: 172px;
    height: 31px;
    transition: background-image 400ms linear;
}

.navigation__button {
    display: flex;
    align-items: center;
    background-color: var(--background-color-hover2);
    border: none;
    margin-bottom: 10px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    transition: background-color 400ms linear, color 400ms linear;
}

.navigation__button_active {
    display: flex;
    align-items: center;
    background-color: var(--background-color-hover2);
    border: none;
    margin-bottom: 10px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #126FA4;
    fill: #126FA4;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 400ms linear;
}

.navigation__create_button {
    background-color: #126FA4;
    border: none;
    border-radius: 8px;
    width: 195px;
    height: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 10px 0 0;
    cursor: pointer;
}

.navigation__link {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation__button:hover {
    color: #126FA4;
    transition: linear 0.1s;
    background-color: var(--background-color-hover);
}

.navigation__button:hover .navigation__inactive {
    fill: #126FA4;
    transition: linear 0.1s;
}

.navigation__active {
    fill: #126FA4;
    transition: linear 0.1s;
}

.navigation__active:hover {
    fill: #126FA4;
    transition: linear 0.1s;
}

.navigation__button_active:hover {
    background-color: var(--background-color-hover);
}

.navigation__inactive {
    transition: linear 0.1s;
}

.navigation__image {
    margin-right: 15px;
}


.login-nav__wrapper {
    display: flex;
    margin: 30px 0 0;
    text-decoration: none;
}

.login-nav__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: var(--text-color);
    margin: 0 0 0 7px;
    transition: color 400ms linear;
}

.login-nav__wrap {
    margin: 20px 0 0;
    display: flex;
    align-items: center;
}

.login-nav__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.login-nav__link:hover {
    background-color: var(--background-color-hover);
    border-radius: 15px;
    transition: linear 0.2s;
}

.login-nav__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.login-nav__logout {
    background-image: var(--image-navigation-logout);
    width: 24px;
    height: 24px;
    padding: 15px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 400ms linear;
}

.login-nav__logout:hover {
    background-color: var(--background-color-hover);
    border-radius: 15px;
    transition: linear 0.2s;
}

.navigation__wrapper {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.navigation__theme {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: var(--text-color);
    margin: 0 10px 0 0;
    background-color: var(--background-color-hover);
    border: none;
    width: 75px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    margin: 0;
    cursor: pointer;
    transition: background-color 400ms linear, color 400ms linear;
}

.navigation__theme:last-of-type {
    margin-left: 10px;
}

.login-nav__img {
    width: 24px;
    height: 24px;
    background-image: var(--image-navigation-login);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 400ms linear;
}