.event {
    width: 600px;
    border-top: 1px solid #3A444C;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.event__container {
    padding: 40px 0 40px 0;
    width: 446px;
}

.event__wrap {
    display: flex;
}

.event__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 40px 15px 0 0;
}

.event__name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: var(--text-color);
    margin: 0 0 5px 0;
    transition: color 400ms linear;
}

.event__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 117.8%;
    color: var(--text-color);
    margin: 0;
    transition: color 400ms linear;
}

.event__buttons {
    display: flex;
}

.event__button {
    display: flex;
    background-color: var(--background-button-color);
    border: none;
    padding: 0 20px 0 20px;
    align-items: center;
    transition: background-color 400ms linear;
}

.event__button:first-of-type {
    padding: 0 20px 0 0;
}

.event__button_title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 117.8%;
    color: var(--text-color);
    margin-left: 5px;
    transition: color 400ms linear;
}

.event__interests {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.event__interest {
    display: flex;
}

.event__interest_title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 117.8%;
    color: var(--text-color);
    margin: 0 0 0 10px;
    transition: color 400ms linear;
}

.event__interest_subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 117.8%;
    color: var(--text-color);
    margin: 11px 0 0;
    transition: color 400ms linear;
}

.event__interest_button {
    background-color: #126FA4;
    border: none;
    border-radius: 4px;
    width: 107px;
    height: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 117.8%;
    color: #FFFFFF;
}

.event__element {
    margin: 0 0 50px 0;
}

.event__button_logo-date {
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--image-home-date);
    width: 20px;
    height: 20px;
    transition: background-image 400ms linear;
}

.event__button_logo-geo {
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--image-home-geo);
    width: 20px;
    height: 20px;
    transition: background-image 400ms linear;
}

.event__button_logo-people {
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--image-home-people);
    width: 20px;
    height: 20px;
    transition: background-image 400ms linear;
}

.event__button_logo-interest {
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--image-home-interest);
    width: 20px;
    height: 20px;
    transition: background-image 400ms linear;
}